body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 30px;
}
h5 {
	font-size: 25px;
	margin: 0;
}
p {
	font-size: 18px;
	line-height: 25px;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
section{
    margin-bottom: 100px;
}
.section-heading{
    text-align: center;
}
.btn {
    padding: 12px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(45deg, #ff000d, #c92f2f);
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}
.flexible-display {
	display: flex;
	align-items: center;
}
.half-width {
    width: 35%;
    float: left;
    margin-left: 10%;
}
.half-width img{
    width: 100%;
}
.red{
    color: #f3042c;
}

.banner-part h1 {
    position: relative;
    font-family: 'Noto Serif', serif;
    padding-left: 4%;

}
.banner-part h1::before {
    content: "";
    width: 1%;
    height: 78%;
    background-color: #d40e0e;
    position: absolute;
    border-radius: 30px;
    left: 0;
    top: 13%;
}
/* banner-area section end */
/* my-mission-area section stat */
.One-third-width {
    width: 22%;

}
.my-mission-item {
    padding: 28px;
    border-radius: 28px;
    background-color: #edf5f6;
    margin: 10px;
}
.my-mission-item img {
    width: 50%;
    margin-bottom: 10px;
}
.justify-center{
    justify-content: center;
}
.lite-pink{
    background-color: #ffeeee;
}
.lite-orange{
    background-color: #fff4d6;
}
/* my-mission-area section end */
/* develop-area section start */
.develop-img, 
.community-img{
	width: 30%;
}
.develop-img img, 
.community-img img{
    width: 100%;
}
.develop-content,
.community-content{
	width: 46%;
	margin-left: 4%;
}
.community-content{
    margin: 0%;
}
.community-img{
    margin-left: 4%;
}

/* develop-area section end */
/* contact-area section start */
.contact-section{
    background: url(images/pictures/bg.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }
  .contact-section h1{
    text-align: center;
    color: #ddd;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  .textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }
  
/* contact-area end */