body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 30px;
}
h5 {
	font-size: 25px;
	margin: 0;
}
p {
	font-size: 18px;
	line-height: 25px;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
section{
    margin-bottom: 100px;
}
.section-heading{
    text-align: center;
}